{% extends "template.html"%}

{% block setting %}
    {% with key=account.pk %}
        {{ block.super }}
    {% endwith%}
{% endblock setting%}

{% load staticfiles %}

{% block content %}


  <div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="{% url 'account_page' pk=account.pk %}">Home</a></li>
      <li><a href="{% url 'setting' pk=account.pk %}">Growth Settings</a></li>
      <li><a href="{% url 'report' pk=account.pk %}">Report</a></li>
    </ul>
  </div><!-- end content -->


  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2>{{ account.username }}</h2>
              <p>{{ account.password }}</p>
              <form action="{% url 'setting' pk=account.pk %}">
                  <input type="submit" value="Growth engine setting" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
