{% extends "template.html"%}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col-lg-12">



    <div class="row">
      {% for account in accounts %}
      <div class="col-md-6">
        <div class="panel panel-default">
              <div class="panel-body">
                  <a class="btn btn-default" href="{% url 'dashboard_edit_account' pk=account.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                  <h2>{{ account.username }}</h2>
                  <p>{{ account.password }}</p>
                  <form action="{% url 'account_page' pk=account.pk %}">
                      <input type="submit" value="Manage Account" />
                  </form>
              </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="{% url 'dashboard_add_account' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>


{% endblock %}
