{% extends "template.html"%}
{% load staticfiles %}

{% block content %}


<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <a href="https://github.com/PSS1998/insta-django">
This website is under development! But don't worry if you encountered a problem just contact us.
      </a>
    </div>
  </div>
</div>


  {% if message %}
  <div class="bs-callout bs-callout-info">
    <h5>{{ message|safe }}</h5>
  </div>
  {% endif %}



<div class="row">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">BusinessGrow</h3>
        </div>
        <div class="panel-body">

<p>



BusinessGrow is a website for managing and helping your Instagram business account grow naturaly. You only need to create an account here and then add your instagram account information. </p>

<p>
for creating your Account
<a href="{% url 'register' %}">go to register page</a>
and for more information go to
<a href="https://github.com/PSS1998/insta-django/">
 project's github page
</a>
</p>
        </div>
        <p>

        </p>
      </div>


<br /><br />



</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="panel-heading">
        <h3 class="panel-title">
            So what is going on?
        </h3>
      </div>
  <p>
    This is an artificial intelligence bot for instagram that based on your type of business and the base of customer you are looking for helps you gain customer and follower
      .
  </p>
  <p>
      Right in order to use this websites services you have to do as follows:
      <ul>
      <li>use the register page to register yourself in this site</li>
      <li>the you need to login the site</li>
      <li>add you instagram account username and password</li>
      </ul>

  </p>
    </div>
  </div>
</div>

</div>
{% endblock %}


{% block footer %}

<script >
$(document).ready(function () {
        $(".subtaskinput").fadeOut(0);
        $('.fa-square-o').hover(function () {
            $(this).addClass('fa-check-square-o');
            $(this).removeClass('fa-square-o');
        }, function () {
            $(this).addClass('fa-square-o');
            $(this).removeClass('fa-check-square-o');
        });

});

function showsubtaskinput(elementid){
  if ($('.btn-'+elementid).text() == '+') {
    $('.subtask-'+elementid).fadeIn(250);
    $('.subtask-'+elementid).focus();
    $('.btn-'+elementid).text ('-');
  }
  else {
    $('.subtask-'+elementid).fadeOut(250);
    $('.btn-'+elementid).text ('+');
  }
  // دگمه رو عوض کنیم به منفی و اگر منفی رو زد المنت رو حذف کنیم
  return 0;
}
</script>

<script type="text/javascript">
$(".alert").fadeTo(10000, 500).slideUp(500, function(){
    $(".alert").slideUp(10000);
});
</script>
{% endblock %}
